@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}
@font-face {
    font-family: canopee;
    src: url(./canopee.ttf);
}

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    background-color: #222;
    overflow-x: hidden;
}

#page1{ 
    height: 130vh;
    width: 100vw;
    background-color: #C5BDB4;
    position: relative;
    overflow: hidden;
}
#nav {
    height: 6.875rem;
    width: 100%;
    display: flex;
    padding: 0 1.875rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.063rem solid #222;
}

#nav img {
    height: 1.813rem;
    width: 30%;
}

#nav h5 {
    font-size: 1.25rem;
    font-weight: 100;
    width: 30%;

}

#nav i {
    width: 30%;
    text-align: right;
}

#elems{
    height: 26.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3.75rem;
}

#elem1{
    width: 30%;
    height: 100%;
}

#elem2{
    width: 30%;
    height: 100%;
    border-right: 0.125rem solid #777777;
    padding: 2.5rem 3.75rem;
    text-align: center;
    border-left: 0.125rem solid #757575;
}

#elem3{
    width: 30%;
    height: 100%;
}

#elem1 #image-div{
    height: 15.75rem;
    width: 100%;
    overflow: hidden;
}


#image-div img{
    height: 15.75rem;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#elem3 #image-div{
    height: 72%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img{
    scale: 1.1;
}

#elem1 h4{
    font-size: 1.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    font-family: canopee;
}

#elem1 h4 span{
    background-color: #B43B12;
    color: #C5BDB4;
    font-weight: 100;
    font-size: 1.125rem;
    padding: 0.25rem;
    margin-left: 0.625rem;
    border-radius: 0.313rem;

}

#elem1 p{
    font-size: 1.438rem;
    font-family: domain;
    font-weight: 100;
    color: #656565;

}

#elem3 h4{
    font-size: 1.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    font-family: canopee;
}

#elem3 h4 span{
    background-color: #B43B12;
    color: #C5BDB4;
    font-weight: 100;
    font-size: 1.125rem;
    padding: 0.25rem;
    margin-left: 0.625rem;
    border-radius: 0.313rem;

}

#elem3 p{
    font-size: 1.438rem;
    font-family: domain;
    font-weight: 100;
    color: #656565;

}

#elem2 h2{
    font-family: canopee;
    font-size: 5.5rem;
    font-weight: 100;
    
}

#elem2 h3{
    font-family: domain;
    font-size: 3.125rem;
    color: #2f2f22;
    font-weight: 100;
    margin: 1.25rem 0;
}

#elem2 h6{
    font-family: domain;
    font-size: 1.25rem;
    color: #2f2f22;
    font-weight: 100;
    
}

#page1 h1{
    font-size: 38rem;
    letter-spacing: -0.90rem;
    font-family: canopee;
    font-weight: 100;
    padding-left: 1.5rem;
    background-color: #1C1C1A;
    color: #C5BDB4;
    line-height: 600px;
    width: 96%;
    margin-top: 2rem;
    margin-left: 2%;
    
}

#page2{
    height: 165vh;
    width: 100%;
    background-color: #C5BDB4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px;
}
#page2-left {
    height: 100%;
    padding-right: 50px;
    width: 35%;
    border-right: 1px solid #4b4b4b;
}

#page2-left h2 {
    font-size: 9.375rem;
    font-family: canopee;
    line-height: 9.375rem;
    font-weight: 100;
}

#page2-left h2 span {
    font-size: 13.125rem;
    font-weight: 900;
}

#page2-left img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#page2-left p {
    font-size: 2.125rem;
    font-family: domain;
    color: #2f2f2f;
    margin-top: 1.25rem;
}

#page2-right {
    height: 100%;
    width: 70%;
    padding: 0 3.75rem;
}

#page2-right img {
    height: 53%;
    object-fit: cover;
    width: 100%;
}

#page2-right h1 {
    font-family: canopee;
    font-size: 8.75rem;
    font-weight: 100;
    letter-spacing: -0.113rem;
}

#page3 {
    padding-bottom: 6.25rem;
    position: relative;
    background-color: #C4BCB3;
}
#page3 h1 {
    font-size: 20.5rem;
    font-family: canopee;
    letter-spacing: -10;
    font-weight: 100;
    background-color: #1C1C19;
    width: fit-content;
    margin-left: 1.25rem;
    padding: 0 1.25rem;
    line-height: 25.25rem;
    color: #C4BCB3;
}
#page3 img {
    height: 28.125rem;
    position: absolute;
    top: 0;
    right: 1%;
}

#page4 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #C4BCB3;
}

#page4-left {
    width: 65%;
    height: 100%;
    padding: 80px 60px;
}

#page4-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4-right {
    width: 35%;
    height: 100%;
    padding: 5rem 3.75rem;
}

#page4-right p {
    font-size: 1.75rem;
    font-family: cursive;
    font-weight: 600;
    color: #2f2f2f;
    margin-bottom: 1rem;
    line-height: 2.188rem;
}

#page4-right #anda {
    height: 16.25rem;
    background-color: #CAC1B6;
    border: 0.063rem solid #2f2f2fc6;
    border-radius: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#anda h1 {
    font-size: 6.25rem;
    font-weight: 100;
    font-family: canopee;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-26%);
    transition: all ease 0.6s;
}

#anda img {
    height: 3.75rem;
    transition: all ease 0.6s;

    transform: translateX(-120%);
}

#anda:hover img {
    transform: translateX(76%);

}

#anda:hover h1 {
    transform: translateX(100%);

}

#page5 {
    padding: 1.563rem 0;
    width: 100%;
    background-color: #C4BCB3;
    border-top: 0.063rem solid #2f2f2f;
    border-bottom: 0.063rem solid #2f2f2f;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#page5::-webkit-scrollbar {
    display: none;
}

#page5 h1 {
    font-size: 6.25rem;
    font-family: domain;
    font-weight: 100;
    display: inline-block;
    animation-timing-function: linear;
    margin-right: 1.875rem;
    animation-name: scroll;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#page5 h1 span {
    font-family: canopee;
    background-color: #1b1b1b;
    color: #C4BCB3;
    padding: 0 0.75rem;
}

#page6 {
    height: 6.25rem;
    width: 100%;
    background-color: #C4BCB3;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 2.125rem) );
    }
}

#page5:hover h1{
    animation-play-state: paused;

}

